.header-productsslider {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem;
  pointer-events: none;
}

.header-productsslider h2 {
  font-size: 5rem;
  text-align: center;
  z-index: 2;
}
.header-productsslider p {
  font-size: 2rem;
  text-align: center;
}
.header-productsslider span {
  font-size: 7rem;
  font-weight: 1000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #8e8e8e;
  opacity: 0.5;
}

.product__slider {
  width: 70%;
  margin: 2rem auto 5rem auto;
  position: relative;
}

.carousel_wrapper {
  position: relative;
}

.slick-slider {
  position: relative;
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  z-index: 11;
  background: gray;
  width: 5rem;
  height: 7rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: 11;
  background: gray;
  width: 5rem;
  height: 7rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.slick-prev,
.slick-next {
  transition: all 0.5s ease;
}

.slick-prev:hover,
.slick-next:hover {
  background: rgb(83, 77, 94);
}

.slick-prev:focus,
.slick-next:focus {
  background: rgb(83, 77, 94);
}
.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
